/****************************************************************  1199px  ******************************************/
@media(max-width: 1199px) {
	header .wrapper .mob_header>ul li.active, header .wrapper .mob_header>ul li:hover{
	  border-bottom-color: transparent;
	}
	header .wrapper{
		padding: 9px 16px;
	}
	a.logo img:nth-child(2){
	  display: block;
	  margin-bottom: 50px;
	}
	body.admin_menu header .wrapper, body.admin_menu .wrapper{
		padding-left: 16px;
	}
	body.admin_menu header ul.menu_admin{
		display: none;
	}
	header .wrapper .mob_header>ul li.admin_li{
		display: block;
		color: #fff;
	}
	header .wrapper .mob_header>ul li.admin_li svg{
		margin-right: 8px;
	}
	body.admin_menu header a.logo{
		display: block;
	}
	a.logo img:nth-child(1){
		display: none;
	}
	a.hamburger{
		display: block;
	}
	header .wrapper .mob_header>ul li.support:after{
		right: 30px;
	}
	header .wrapper .mob_header a.gener_up{
		display: block;
		position: absolute;
		bottom: 0;
		color: #ffffff;
		font-weight: 700;
		line-height: 40px;
		height: 40px;
		left: 0px;
		right: 0px;
		padding-left: 16px;
		background-color: rgba(216, 216, 216, 0.1);
	}
	header .wrapper .mob_header a.gener_up img{
		margin-right: 15px;
	}

	header .wrapper .mob_header{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 15;
		/*background-color: #4f4f4f;*/
		background-color: #041542;
		max-width: 240px;
		width: 100%;
		padding: 17px 16px;
		-webkit-transform: translateX(-150%) ;
		    -ms-transform: translateX(-150%) ;
		        transform: translateX(-150%) ;
		-webkit-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		height: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	a.hamburger.active+.mob_header{
		-webkit-transform: translate(0);
		    -ms-transform: translate(0);
		        transform: translate(0);
	}
	li.support .dropdown-menu{
		width: auto;
		left: 0px;
		right: 0px;
		/*background-color: #454545;*/
		background-color: #04133a;
		-webkit-border-radius: 0;
		        border-radius: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
		border: 0;
		top: 36px;
	}
	header .wrapper .mob_header>ul li.support:after{
		right: 25px;
		z-index: 1;
	}
	
	
	li span.zay_number{
		position: absolute;
		top: 10px;
		color: #fff;
		line-height: 1;
		right: 16px;
		/*background-color: rgba(216, 216, 216, .4);*/
		background-color: #00237d;
	}
	header .wrapper .mob_header>ul li{
		display: block;
		height: auto;
		border-bottom: 1px solid rgba(216, 216, 216, 0.1);
		line-height: 39px;
		height: 39px;
		padding-left: 0;
		position: relative;
		margin: 0 -16px;
	    padding: 0 16px;
	}
	header .wrapper .mob_header>ul{
		display: block;
	}
	header .wrapper .mob_header>ul li.support a{
		color: #ffffff;
		font-size: 14px;
		/*font-weight: 700;*/
		border-bottom: 1px solid rgba(216, 216, 216, 0.1);
		line-height: 39px;
	}
	header .wrapper .mob_header>ul li.support>a{
		border-bottom: 0;
	}
	header .wrapper .mob_header>ul li.support>a:after{
	    right: 100px;
   		top: -3px;
   		display: none;
	}

	header .wrapper .mob_header>ul li.support .dropdown-menu>a:last-child{
		border-bottom: 0;
	}
	header .wrapper .mob_header>ul li a{
		color: #fff;
		font-size: 14px;
	}
	header .wrapper .mob_header>ul li.active{
		border-bottom: 1px solid rgba(216, 216, 216, 0.1);
		/*background-color: #454545;*/
		background-color: rgba(255, 255, 255, 0.08);
	}
	a.user_name{
		padding-right: 35px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.users_h.dropdown{
		margin-left: 10px;
	}
	.users_h .dropdown-menu{
		/*right: -16px;*/
	}
	.users_h .dropdown-menu a.user_name{
		padding-right: 0;
	}

	.wrapper{
		padding: 0 16px;
	}
	section#application table{
		display: none;
	}
	.tabl_appl{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	header .wrapper .mob_header>ul li{
		/*padding: 0 8px;*/
	}
	header .wrapper .mob_header>ul li.support a{
		padding-right: 15px;
		width: 100%;
	}
	.ilyust_tab_content{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	.ilyust{
		padding-left: 0;
	}
	.ftr_right.dropdown .dropdown-menu{
		left: auto;
		right: 0;
	}
	.ftr_right.dropdown .dropdown-menu a{
		float: right;
		padding-right: 5px;
		width: 100%;
		text-align: right;
	}
	.ftr_right.dropdown .dropdown-menu a:after{
		content: "";
		display: block;
		clear: both;
	}
	.dange>p{
		padding-right: 175px;
	}
	table.table_layout.stat_table a{
		opacity: 1;
	}
	li.support .dropdown-menu{
		padding: 8px 10px;
   		-webkit-transform: translateX(0%);
   		    -ms-transform: translateX(0%);
   		        transform: translateX(0%);
	}
	header .wrapper .mob_header>ul li.support a{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-right: 0;
	}
	li.support .dropdown-menu a span.img{
		min-width: 36px;
		display: none;
	}
	li.support .dropdown-menu a div h5{
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}
	li.support .dropdown-menu a div p{
		/*font-size: 10px;*/
		line-height: 16px;
		font-size: 12px;
		margin-top: 5px;
	}
	.pay_fl{
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.pay1{
		margin-right: 0;
	}
	.header_el select.select_inp{
		display: none;
	}
	.el_left_main{
		padding-left: 120px;
	}
	.header_pan .col-lg-4 input{
		min-width: auto;
	}
	.panel_left{
		transition: all .3s linear;
		max-width: 104px;
		overflow: hidden;
		width: 100%;
	}
	.panel_left.active{
		max-width: 304px;
	}

	.panel_left .tabcontent{
		/*padding-left: 0;*/
		/*padding-right: 0;*/
		/*width: 0;*/
		overflow: hidden;
		/*transition: 0;*/
		/*opacity: 1;*/
	}
	.panel_left .tabcontent.active{
		width: 200px;
		padding-left: 16px;
		padding-right: 14px;
	}
	.panel_right{
		width: auto;
		padding-left: 119px;
		min-height: 100vh;
		padding-right: 15px;
	}
	.header_pan:after{
		left: -15px;
		right: -15px;
	}
	.lib_item, .lib_item:nth-child(9n){
		margin-right: 13px;
	}
	header .wrapper .mob_header>ul:not(.menu_admin) li a img{
	  display: inline;
	}
}


/**********************************************************  1199px  ******************************************/
















/**********************************************************  1023px  ******************************************/

@media(max-width: 1023px) {
	.ftr_left{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 88%;
	}
	.jivo_block{
		max-width: 100%;
	}
	.users_h.dropdown{
		margin-left: -60px;
	}
	.header_pan .users_h.dropdown{
		margin-left: 0;
	}
	.users_h .dropdown-menu{
		/*padding: 10px 20px;
		right: 0;
		min-width: 100%;
		left: auto;
		width: auto;*/
	}
	.shabl_containers {
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.shabl_containers .item_sh{
		width: 42%;
		margin: 15px;
	}
	.shabl_containers .item_sh:nth-child(3n + 2){
		margin-left: 15px;
		margin-right: 15px;
	}
	section#my_site .mysite_items{
		margin-left: 2%;	
		width: 32%;
	}
	section#my_site .mysite_block .mysite_items:nth-child(4n + 1){
		margin-left: 0;
	}
	.tab_style>ul li a{
		white-space: nowrap;
	}
	section#menejment_account .tab_style>ul{
		max-width: 100%;
		overflow-x: auto;
	}
	.nach_inp input{
		min-width: 260px;
	}
	.item_c, .add_cat_item{
		min-width: 220px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.categ_main{
		/*justify-content: space-around;*/
	}
	.radio_list{
		padding-left: 15px;
	}
	.pb_b .radio_list{
		padding-left: 0;
	}

	.bal_abs.clr{
		position: static;
	}
	.balan{
		padding-right: 0;
	}
	.el_left_main{
		padding-left: 0;
	}
	.structure_page{
		display: none;
	}
	a.predprosmotr{
		font-size: 0;
		width: auto;
		min-width: 32px;
	}
	a.predprosmotr img{
		margin-right: 0;
	}
	.owl_links{
		display: none;
	}
	.header_el a.setting_l{
		position: fixed;
		width: 48px;
		height: 48px;
		background-color: #d8d8d8;
		text-align: center;
		line-height: 48px;
		border-radius: 50%;
		bottom: 80px;
		z-index: 9;
		font-size: 0;
		right: 16px;
		display: none;
	}
	.header_el a.setting_l svg{
		font-size: 22px;
		line-height: 48px;
		margin-top: 13px;
	}
	.header_el a.back_l{
		font-weight: 700;
		width: auto;
		padding-left: 8px;
		padding-right: 9px;
	}
	.header_el a.back_l svg{
		margin-right: 8px;
	}
	.lib_item, .lib_item:nth-child(9n){
		margin-right: 7px;
	}
	.nast_uvedom{
		max-width: 100%;
	}
	.reg_user_ip{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.reg_user_ip p{
		text-align: right;
	}
	.for_admin>ul.nav{
		max-width: 100%;
		overflow-x: auto;
	}
	.tab_price.a div h5{
		font-size: 24px;
	}
	.upr_tar .item_up{
		padding: 10px;
	}
	.upr_tar p.pri_fr{
		font-size: 18px;
	}
	.upr_tar .item_up .flex>div:first-child{
		margin-right: 10px;
	}
	.flex.st_bt{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.rect_st.new_us .title{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.rect_st.new_us .title h3{
		width: 100%;
	}
}
/**********************************************************  1023px  ******************************************/

@media(max-width: 767px) {
	.users_h.dropdown a.user_name.dropdown-toggle .user_name_text{
		display: none;
	}
	header .wrapper .mob_header{
	    max-height: 100vh;
   		overflow-y: auto;
	}
	.back_img_iks{
		display: none;
	}
	a.logo img:nth-child(2){
		margin-bottom: 0;
	}
	.avtorizatsiya_left{
		max-width: 320px;
		width: 100%;
		padding: 16px;
		margin: 0 auto;
		text-align: center;
	}
	.avtorizatsiya_left form{
		text-align: left;
	}
	.enter_social_set a{
		width: 66px;
	}
	a.logo{
		margin-bottom: 25px;
	}
	.registr_scn p{
		text-align: left;
	}
	.reg_phot_rof_left{
		min-width: 64px;
		width: 64px;
		height: 64px;
		background-color: #d8d8d8;
	}
	.reg_phot_rof_right>div a{
		height: 24px;
		line-height: 24px;
		font-size: 12px;
	}
	.reg_phot_rof_right p{
		font-size: 11px;
	}
	.ftr_left{
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.ftr_left p{
		/*order: 1;*/
		left: 0;
		right: 0;
		background-color: rgba(216, 216, 216, 0.1);
		position: absolute;
		bottom: 0;
		line-height: 32px;
		border-top: 1px solid rgba(60, 60, 60, .11);
		width: auto;
		padding-left: 16px;
		padding-right: 16px;
		color: #9b9b9b;
		font-size: 11px;
		margin-right: 0;
	}
	.ftr_left a{
		margin-top: 7px;
		font-size: 11px;
	}
	.ftr_right{
		margin: 15px 0;
		font-size: 11px;
	}
	.ftr_right.dropdown .dropdown-menu {
		text-align: left;
	}
	.ftr_right.dropdown .dropdown-menu a{
		left: -16px;
		font-size: 11px;
		padding-left: 10px;
		float: left;
		text-align: left;
	}
	.ftr_right.dropdown .dropdown-menu{
		left: -16px;
		right: auto;
	}
	footer .wrapper{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	footer{
		height: auto;
		border-top: 0;
		padding-bottom: 32px;
	}
	.t_group, .tabl_appl .t_group select{
		width: 100%;
	}
	.appl_title{
		padding: 24px 0 8px 0
	}
	h2.title_sect{
		font-size: 28px;
		line-height: 1;
		margin-bottom: 10px;
	}
	.appl_title>a{
		font-size: 0;
		padding: 0;
		background-color: transparent;
	}
	.appl_title a:hover{
		-webkit-box-shadow: none;
		        box-shadow: none;
		background-color: transparent;
	}
	.appl_title a svg{
		margin-right: 0;
	}
	.users_h.dropdown{
		margin-left: 0px;
	}
	.users_h.dropdown:after{
		background-color: transparent;
	}
	a.user_name{
		padding-right: 16px;
	}
	.tabl_appl .t_group {
		margin-bottom: 8px;
	}
	.tabl_appl .t_group label{
		display: none;
	}
	.tabl_appl .t_group:last-child{
		/*display: none;*/
	}

	section#application{
		min-height: 70vh;
	}
	.tab_price div{
		max-width: 100%;
		margin-bottom: 5px;
	}
	.tab_price{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.mon_lest{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.mon_lest a{
		margin: 0px auto 8px;
		width: 100%;
		padding: 5px;
		height: auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 72px;
	}
	.notification.dropdown{
		position: static;
	}
	.notification.dropdown .dropdown-menu{
		left: 0;
		right: 0;
		max-width: 100%;
		width: 100%;
		top: 64px;
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
	}
	.dange>p{
		height: auto;
		padding-right: 15px;
		padding-left: 70px;
		background-position: left 15px center;
	}
	.mon_lest a img{
		max-width: 100px;
		height: auto;
		margin-top: 0px;
		margin-left: 16px;
		margin-right: 16px;
	}	
	.rub_direct{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.rub_direct h4{
		width: 100%;
		margin-bottom: 15px;
	}
	.mon_lest a p{
		word-wrap: break-word;
		font-size: 12px;
		margin-top: 0;
	}
	table.table_layout td{
		padding: 5px;
	    line-height: 14px;
	    font-size: 10px;
	    text-align: center;
	}
	.tab_style>ul li{
		text-align: center;
	}
	.tit_bold div span{
		width: 100%;
		margin-bottom: 10px;
	}
	.tit_bold div a{
		margin-bottom: 8px;
	}
	section#invite{
		padding-bottom: 0;
	}
	#enter_into_yandex, div#enter_into_yandex_thanks{
		height: auto;
	}
	div#enter_into_yandex_thanks img{
		margin: 20px auto;
	}
	#enter_into_yandex h2, div#enter_into_yandex_thanks h2{
		padding-right: 15px;
	}

	.jivo_block{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
	}
	.jivos_main_img{
		position: absolute;
		left: 0;
		margin-right: 0;
		top: 23px;
	}
	.jivos_main_text {
		padding-left: 95px;
	}
	.jivos_main_text p{
		padding-right: 0;
	}
	.jivo_block .jivos_main_btn{
		margin-left: 95px;
		margin-top: 10px;
	}
	.jivos_main_text span{
		right: auto;
		left: 10px;
		top: 90px;
	}
	.popup_style{
		max-width: 100%;
		min-width: inherit;
	}
	.popup_style{
		padding: 15px;
	}
	.pixel_box{
		width: 100%;
	}
	a.link_gray, a.link_black{
		max-width: 120px;
	}
	.text_inp{
		padding: 0 10px;
		max-width: 100%;
		overflow-x: auto;
		min-width: 100%;
	}
	select.select_inp{
		padding: 0 16px 0 10px;
		max-width: 100%;
		overflow-x: auto;
	}
	div#amocrm{
		padding-top: 55px;
	}
	#amocrm .tab_style>ul{
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#amocrm .tab_style .nav>li>a{
		padding: 10px 0;
	}
	table.table_layout.stat_table tbody tr td:nth-child(1){
		text-align: left;
	}
	.shabl_containers .item_sh, .shabl_containers .item_sh:nth-child(3n + 2){
		width: 100%;
		margin: 15px 0;
	}
	.mysite_block .mysite_items{
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
	}
	div#sett_my_site .tab_style>ul{
		padding-left: 15px;
	    margin-left: -15px;
	    margin-right: -15px;
	    padding-right: 15px;
	    -webkit-box-align: stretch;
	    -webkit-align-items: stretch;
	        -ms-flex-align: stretch;
	            align-items: stretch;
	}
	section#my_site .appl_title {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	section#my_site .appl_title a{
		width: 100%;
	}

	div#space_pay{
		margin: 0 -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	div#popup_zayavki_export{
		width: 100%;
	}
	div#popup_zayavki_export a.link_black{
		max-width: inherit;
	}
	.remove_tel_change a:nth-child(4){
		display: none;
	}
	a.save_change{
		width: 100%;
	}
	h4.tab_title{
		font-size: 14px;
	}
	.photo_profil .img{
		min-width: 64px;
	    width: 64px;
	    height: 64px;
	}
	.photo_profil{
		position: relative;
	}
	.profil_text{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-top: 25px;
	}
	.profil_text p{
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0;
	}
	.profil_text a{
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
		line-height: 32px;
		font-size: 12px;
		margin-top: 5px;
	}
	.profil_text a:nth-child(3){
		font-weight: 500;
	}
	.profil_text span{
		font-size: 11px;
	}
	div#ff0 .form_group.email select.select_inp{
		max-width: 100%;
	}
	.checkbox_all{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.check_group{
		width: 50%;
	}
	.checkbox_all .check_group:nth-child(2){
		padding-left: 0;
	}
	div#ff3 a.save_change{
	    margin: 30px 0 10px;
	}
	ul.list_ul_style li{
		width: 100%;
	}
	.dostup_next{
		margin-left: -15px;
		margin-right: -15px;
		-webkit-border-radius: 0;
		        border-radius: 0;
	}
	.set_tarif{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.set_tarif>div{
		width: 100%;
	}
	.set_tarif>a{
		width: 100%;
		margin-top: 15px;
	}
	.set_tarif>div b{
		line-height: 17px;
	}
	.time_per{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.time_per a{
		margin-bottom: 15px;
		width: 48%;
		margin-right: 0;
	}
	.pay_per{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.pay_per a{
		width: 48%;
		margin-right: 0;
	}
	.pay_per a.p_item.user_p{
		width: 100%;
	}
	.connected_accounts{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.connected_accounts h3{
		margin-bottom: 24px;
	}
	.connected_accounts a{
		width: 100%;
	}
	div#add_user a.link_black{
		max-width: initial;
	}
	td.drop_table{
		display: none;
	}
	section.notifications_main .appl_title{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-ms-align-items: flex-start;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	section.notifications_main .appl_title>a{
		display: block;
		width: 100%;
		font-size: 14px;
		background-color: #d8d8d8;
		height: 48px;
		line-height: 48px;
		font-weight: 900;
		margin: 24px 0;
	}
	section.notifications_main .appl_title>a:hover{
	    background-color: #ccc;
	}

	.not_drag .items{
		padding-left: 0;
		padding-right: 20px;
	}
	.not_drag .img{
		min-width: 32px;
		width: 32px;
		height: 32px;
		margin-right: 10px;
	}
	.not_drag{
		padding: 0;
	}
	.not_drag .items.not_read{
		padding-left: 16px;
		padding-right: 36px;
	}
	.items.not_read:before{
		display: none;
	}
	section.prod_serv table.table_layout{
		display: none;
	}
	section.prod_serv .appl_title{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	section.prod_serv h2.title_sect{
		margin-bottom: 30px;
	}
	.nach_inp{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	.nach_inp input{
		width: 100%;
	}
	.nach_inp select.select_inp{
		margin-left: 0;
		margin-top: 8px;
	}
	.nach_inp a{
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
		margin-bottom: 16px;
		width: 100%;
		margin-left: 0;
	}
	.prod_serv_title a{
		margin-left: 0;
		margin-right: 8px;
	}
	.prod_serv_title{
		width: 100%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.prod_serv_title a.link_black_p{
		margin-right: 0;
	}
	a.exp_link_o, a.exp_link_z{
		width: 120px;
	}
	section.categoriya .appl_title{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	section.categoriya .prod_serv_title a.link_black_p{
		width: 100%;
		margin-top: 20px;
	}
	.item_c, a.add_cat_item{
		width: 100%;
	}
	.bl_inp_btn{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.bl_inp_btn a{
		width: 100%;
		margin-bottom: 15px;
		margin-left: 0;
	}
	#new_category_popup .btn_link a{
		width: 130px;
		padding: 0 7px;
		text-align: center;
		margin-right: 0;
	}
	section.first_tovar table.table_layout.variat{
		display: none;
	}
	.st_some textarea.equally{
		min-height: 100px;
	}
	.radios{
		min-width: 48px;
	}
	section.first_tovar .appl_title{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	section.first_tovar .appl_title>div{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.show_catalog{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	section.first_tovar h3{
		width: 100%;
		text-align: left;
	}
	.show_catalog>div{
		width: 100%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	div#fre_img_add{
		max-width: 100%;
	}
	div#fre_img_add .btn_link.w_100 a{
		width: 120px;
		text-align: center;
		padding: 0;
	}
	.acco .form_group{
		width: 100%;
		margin-right: 0;
	}
	.btn_link a{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	section.first_tovar .flex{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	p.lab{
		margin-top: 10px;
	}
	section.first_tovar input{
		max-width: 100%
	}
	.all_tov{
		margin: 0;
	}
	.all_tov_item{
		padding: 4px 0px;
	}
	.pay1{
		padding: 16px 15px;
		margin-left: -15px;
		margin-right: -15px;
		width: -webkit-calc(100% + 30px);
		width: calc(100% + 30px);
	}
	.pay_over{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.pay_over p{
		margin-right: 0;
	}
	.steps span:after{
		width: 64px;
	}
	p.ftr_text{
		bottom: 0px;
	}
	.link_send{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	section.tov_site.pay{
		padding-bottom: 100px;
	}
	.link_send a{
		width: 100%;
		-webkit-border-radius: 0;
		        border-radius: 0;
	}
	section.tov_site.pay.sec{
		padding-bottom: 75px;
	}
	.el_left{
		max-width: 100%;
	}
	.el_left_main{
		background-color: #fff;
		padding: 0;
	}
	.area_main{
		border-radius: 0;
		width: 100%;
		max-width: 425px;
		padding-bottom: 125px;
	}
	.el_right{
		transform: translateX(100%);
	}
	.el_right.active{
		transform: translateX(0%);
	}
	.header_el a.setting_l{
		display: block;
		/* Style for "form" */
		width: 48px;
		height: 48px;
		box-shadow: 0 12px 25px rgba(5, 15, 41, 0.2), 0 0 2px rgba(5, 15, 41, 0.03);
		border: 1px solid #001a5c;
		background-color: #00237d;
	}
	.structure_page{
		display: block;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		overflow-x: auto;
		top: auto;
		padding-left: 0px;
		padding-bottom: 0;
		background-color: #fff;
		z-index: 4;
	}
	.header_el a.back_l{
		margin-right: 0;
	}
	.structure_page div#to_el_fer{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		overflow-x: auto;
		padding-top: 8px;
		padding-bottom: 8px;

	}
	.structure_page div#to_el_fer a .img{
		width: 24px;
		height: 24px;
		background-color: #bababa;
		margin-bottom: 5px;
		background-size: cover;
	}
	.structure_page div#to_el_fer a{
		min-width: 78px;
		width: 72px;
		height: 56px;
		border-radius: 6px;
		background-color: #e2e2e2;
		opacity: 0.96;
		margin-right: 4px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 0;
		/* Style for "form" */
		width: 78px;
		height: 58px;
		box-shadow: 0 8px 12px rgba(5, 15, 41, 0.06), 0 0 2px rgba(5, 15, 41, 0.03);
		border-radius: 5px;
		border: 1px solid rgba(0, 13, 114, 0.06);
		background-color: rgba(255, 255, 255, 0.96);

	}
	.structure_page div#to_el_fer a:nth-child(1){
		margin-left: 8px;
	}
	.structure_page div#to_el_fer a:last-child{
		margin-right: 8px;
	}

	.structure_page a:before, .el_right a.set_tab{
		display: none;
	}
	.structure_page p{
		margin-bottom: 0;
		font-size: 10px;
	}
	.structure_page span.l_pro{
		/*display: none;*/
	}
	.tab_style.homes_f ul.nav li:first-child{
		display: none;
	}
	.tab-content.element_lin div#to_el_fer{
		display: none;
	}
	.el_right{
		max-width: 100%;
		min-width: 100%;
		z-index: 15;
	}
	.el_right .tab-content{
		max-height: calc(100% - 130px);
		overflow-y: auto;
	}
	.rem_act{
		display: block;
		position: absolute;
		top: 20px;
		left: 17px;
		transform: rotate(180deg);
		z-index: 1;
	}
	.rem_act img{
		width: 20px;
	}
	.ofor_right_link{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.element_lin>div a:nth-child(3n + 2){
		margin-left: 0;
		margin-right: 0;
	}
	.ret_el_main .op_faq.active{
		transform: translateX(-100%);
		padding-top: 40px;
	}
	.ret_el_main .op_text.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_ssilk.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_razdelitel.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_html.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_avatar.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_sot_seti.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_video.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_mess.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_carousel.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_karta.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_forma.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_predl.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_stranit.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_menu.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_prei.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_uslugi.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_tovari.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .op_bis_svyazi.active{
		padding-top: 40px;
		transform: translateX(-100%);
	}
	.ret_el_main .homes_f.active{
		transform: translateX(-100%);
	}
	/******************************************ADMINKA_STYLES_BEGIN***********************/

	.for_admin>ul.nav{
		max-width: 100%;
		overflow-x: auto;
	}
	.adm_link{
		width: 100%;
		display: block;
		max-width: 200px;
		margin: 0 auto 8px;
		text-align: center;
	}	
	.max_w_tab .radios{
		margin-bottom: 0;
	}
	.title_o_z{
		margin-bottom: 16px;
	}
	.max_w_tab a.link_black{
		max-width: 200px;
		display: block;
		margin: 20px auto;
	}
	.header_pan .row{
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.header_pan{
		/*padding-top: 5px;*/
	}
	.header_pan .col-lg-4 input{
		max-width: 100%;
		margin: 0;
		margin-bottom: 8px;
		display: none;
	}
	.header_pan .col-lg-8{
		justify-content: space-between;
	}
	.header_pan .col-lg-8 .top_lang{
		margin-right: 0;
		/*height: 24px;*/
		padding-left: 5px;
		padding-right: 5px;
	}
	.header_pan .col-lg-8 .top_lang>a{
		/*line-height: 24px;*/
	}

	.panel_left>.tab{
		width: 75px;
	}
	.panel_left ul.registr_bl li a{
		font-size: 10px;
	}
	.panel_left{
		transform: translateX(0%);
		max-width: 75px;
	}

	.panel_left.open_adm{
		transform: translateX(-100%);
	}
	.panel_left ul.registr_bl li .img{
		width: 32px;
		height: 32px;
	}
	.panel_left.active{
		max-width: 235px;
	}
	.panel_left .tabcontent a{
		font-size: 12px;
	}
	.panel_left .tabcontent h4{
		font-size: 14px;
	}
	
	.panel_left .tabcontent.active, .panel_left .tabcontent{
		width: 160px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.panel_right{
		padding-left: 16px;
		padding-right: 16px;
	}
	.hamburger {
	    display: block;
	    margin-left: 0px;
	    z-index: 21;
	    position: relative;
	    cursor: pointer;
	}
	.hamburger span {
	    height: 4px;
	    /*background-color: #3c3c3c;*/
	    background-color: #00237d;
	    margin: 5px 0;
	    width: 35px;
	    display: block;
	    -webkit-transition: all .2s linear;
	    -o-transition: all .2s linear;
	    transition: all .2s linear;
	}
	.panel_left:not(.open_adm)+.panel_right .hamburger span:nth-child(1) {
	    -webkit-transform: rotate(-45deg) translateY(12.5px);
	    -ms-transform: rotate(-45deg) translateY(12.5px);
	    transform: rotate(-45deg) translateY(12.5px);
	}
	.panel_left:not(.open_adm)+.panel_right .hamburger span:nth-child(2) {
	    opacity: 0;
	}
	.panel_left:not(.open_adm)+.panel_right .hamburger span:nth-child(3) {
	    -webkit-transform: rotate(45deg) translateY(-12.5px);
	    -ms-transform: rotate(45deg) translateY(-12.5px);
	    transform: rotate(45deg) translateY(-12.5px);
	}
	.header_pan .users_h .dropdown-menu{
	    transform: translateX(50%);
	    right: 60%;
	}

	.admins td.dot_pan{
		opacity: 1;
		z-index: 1;
		padding-right: 15px;
	}
	.panel_right .appl_title{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.panel_right .appl_title a{
		width: 100%;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.panel_right .appl_title a:hover{
		background-color: #3c3c3c;
	}
	.lin_font_siz a{
		font-size: inherit;
	}
	.max_w_tab+a.link_black{
		max-width: inherit;
		width: 100%;
	}
	.panel_right .body_pan .t_group{
		width: 100%;
	}
	.panel_right .body_pan .t_group .text_inp{
		margin-bottom: 0;
	}
	.pred_pos{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	/******************************************ADMINKA_STYLES_END***********************/
	.icon_pop .img{
		min-width: 80px;
	}
	.icon_pop .text div a{
		font-size: 12px;
	}
	.library_body{
		justify-content: space-between;
	}
	.lib_item, .lib_item:nth-child(9n){
		margin-right: 0;
	}
	div#page_for_bus textarea.textarea_template{
		min-height: 150px;
	}
	.reg_user_ip{
		display: none;
	}
	body .text_l{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	body .text_l a{
		display: block;
		margin: 0;
		margin-left: 16px;
	}
	.prof_ad .img{
		min-width: 64px;
	}
	.text_l a:first-child{
		margin-bottom: 15px;
	}
	a.doget{
		font-size: 12px;
		padding: 0 8px;
	}
	.bbto tr td{
		font-size: 12px;
	}
	.form_group_first{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.form_group_first label{
		margin-bottom: 24px;
	}
	.pagination_st a{
		margin-bottom: 10px;
	}
	.sum_rubl span{
		min-width: 35px;
	}
	.upr_tar{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.upr_tar .item_up{
		margin-bottom: 16px;
		max-width: 300px;
	}
	.upr_tar .item_up:nth-child(2){
		margin: 0;
		margin-bottom: 16px;
	}
	.upr_tar .item_up .flex>div:first-child{
		margin-right: 25px;
	}
	.upr_tar .item_up>p{
		min-height: inherit;
		margin-bottom: 10px;
	}
	.upr_tar p.pri_fr{
		font-size: 24px;
	}
	.upr_tar .item_up a.save_change{
		line-height: 32px;
		height: 32px;
		font-size: 14px;
	}
	.pr_ob{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.pr_nedel{
		max-width: 100%;
		margin-bottom: 10px;
	}
	.gl_table_def{
		overflow-x: auto;
	}
	.rect_st .title select{
		font-size: 12px;
	}
	.rect_st .title select{
		max-width: 140px;
	}
	.rect_st .title h3{
		font-size: 15px;
	}
	.flex.st_bt{
		overflow-x: hidden;
	}
	.gl_table_def{
		min-width: inherit;
	}
	table.zay_table.table_layout.admins.stat_table tbody tr td.adm_dot{
		opacity: 1;
		z-index: 1;
	}
	.gl_table_def table{
		margin-bottom: 0 !important;
	}
	.lang_it_right>a{
		margin-left: 10px;
	}
	.lang_it_right .for_ref>span{
		margin-left: 5px;
	}
	div#zagr_yazik{
		max-width: 100%;
	}
	table.table_layout td{
	  text-align: left;
	}
	a.link_tab.bfr{
		margin-left: 0;
		margin-top: 5px;
	}
	a.link_tab{
		padding: 0 4px;
		text-align: center;
		width: 85px;
	}
	tr td a.link_tab{
	  opacity: 1;
	  z-index: 1;
	}
	.body_pan{
		max-width: 100%;
		overflow-x: auto;
	}
	.rect_st.new_us .nav>li>a{
		padding: 10px 5px;
	}
	.rect_st.new_us .tab_style>ul li{
		margin-bottom: 10px;
		padding-bottom: 0;
	}
	.korp{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.flex.st_bt.yost{
		margin-top: 16px;
		margin-bottom: 25px;
		
	}
}






@media(max-width: 340px) {
	.steps .active:nth-child(4) span:after{
		width: 54px;
	}
	.el_right .tab-content{
		padding-left: 5px;
		padding-right: 5px;
	}
	.tab_btn_btm a{
		width: 130px;
	}
	.header_pan .users_h .dropdown-menu {
	    right: 80%;
	}
	.icon_pop .text div a:first-child{
		width: 75px;
		min-width: 75px;
	}
	.library_body{
		justify-content: space-around;
	}
	.bbto tr td{
		font-size: 11px;
	}
	.sum_rubl{
		padding-left: 8px;
	}
	.rect_st.new_us .nav>li>a{
		font-size: 12px;
	}
}
